@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
:root {
  background: #383241;
  color: #b9aecd;
}
html,
body,
#root {
  min-height: 100%;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
}
body {
  overflow-y: scroll;
}

body:has(dialog[open]) {
  overflow: hidden;
}

#root {
  padding: 32px 44px;
}

h2,
h3 {
  color: #b88ef8;
}

button {
  background-color: #b88ef8;
  border-radius: 0.375rem;
  padding: 0.25rem;
  color: #383241;
  font-size: 18px;
}

button:hover {
  background-color: #9774cc;
}

img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.session-items {
  grid-template-columns: repeat(3, minmax(0, 300px));
  grid-auto-flow: dense;
}

.session-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #352e41;
  color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.session-item img {
  height: auto;
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}
